{% extends "taxiapp/base.html" %}
{% block main %}
            <h1 class="text-center login-title">Sign in to access T-Project</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" action="{% url 'taxiapp:admin_login' %}?next={{nex}}" method="post">
                        {% csrf_token %}
                       {{ form }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <p><a class="pull-right" href="{% url 'taxiapp:admin_forgot_password' %}">Forgot Password?</a></p>
                </form>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
            </div>
{% endblock %}
