{% extends "taxiapp/base.html" %}
{% block main %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"/>

<title>Taxi App</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
        <h4 style="text-align: center; color: green;">{{message}}</h4>
    <div class="container">
        <div class="row">
            <form class="form-inline" name="complaintsList" id="complaintsList" action='/complaints_list/' method='POST'>
                {% csrf_token %}
                    <div class="form-group mb-2">City:
                      
                            <select class="form-control" name="city_code" id="city_code">
                                    {% if user.is_admin or user.is_staff %}
                                        <option value="All">All</option>
                                    {% endif %}
                                    {% for city in cities %}
                                    <option value="{{city.city_code}}" {% if city.city_code == city_code %}selected="selected"{% endif %}>{{ city.city }}</option>
                                    {% endfor %}
                            </select>

                    </div>

                     <div class="form-group mb-2">Vehicle Type:
                      
                            <select class="form-control" name="vehicletype" id="vehicletype">
                                    <option value="All">All</option>
                                    {% for vcltype in vehicletypes %}
                                    <option value="{{vcltype}}" {% if vcltype == vehicletype %}selected="selected"{% endif %}>{{ vcltype }}</option>
                                    {% endfor %}
                            </select>


                    </div>
                   
                    <div class="form-group mb-2">
                            Range From :
                            <input style="width:80px;" class="form-control" type="text" name="rangeFrom" id="rangeFrom" value="{{rangeFrom}}" />
                    </div>

                    <div class="form-group mb-2">
                            Range To :
                            <input style="width:80px;" class="form-control" type="text" name="rangeTo" id="rangeTo" value="{{rangeTo}}" />
                    </div>

                    <div class="form-group mb-2">
                            Traffic Number :
                            <input style="width:80px;" class="form-control" type="text" name="taxiIds" id="taxiIds" value="{{taxiIds}}" />
                    </div>

                    <div class="form-group mb-2">
                            Number Plate :
                            <input style="width:80px;" class="form-control" type="text" name="numberPlates" id="numberPlates" value="{{numberPlates}}" />
                    </div> 

                    <input type="hidden" name ="page" id="page"/>
                    <input type="hidden" name="resolved_type" id="resolved_type" value="{{resolved_type}}"/>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>

            </form>
      </div>
    </div>
    <br>
    <br>
   
   
       
                <div>
                        <center><h3>Complaints</h3></center>
                        <table id="example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <center>
                                <select name="resolvedType" id="resolvedType" onchange="submitForm()">
                                    <option value="All" {% if resolved_type == 'All' %}selected="selected"{% endif %}>All</option>
                                    <option value="Resolved" {% if resolved_type == 'Resolved' %}selected="selected"{% endif %}>Resolved</option>
                                    <option value="UnResolved" {% if resolved_type == 'UnResolved' %}selected="selected"{% endif %}>Un Resolved</option>
                                </select>
                            </center>   
                            <thead>
                                    <tr>
                                        <th>Complaint Id</th>
                                        <th>Traffic Number</th>
                                        <th>Number Plate</th>
                                        <th>City</th>
                                        <th>Driver Name</th>
                                        <th>Created Time</th>
                                        <th>Complaint Reason</th>
                                        <th>Assigned To</th>
                                        <th>Customer Phone number</th>
                                        <th>Status</th>
                                        {% if user.is_admin or user.is_staff %}
                                            <th>Action</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Complaint Id</th>
                                        <th>Traffic Number</th>
                                        <th>Number Plate</th>
                                        <th>City</th>
                                        <th>Driver Name</th>
                                        <th>Created Time</th>
                                        <th>Complaint Reason</th>
                                        <th>Assigned To</th>
                                        <th>Customer Phone number</th>
                                        <th>Status</th>
                                        {% if user.is_admin or user.is_staff %}
                                            <th>Action</th>
                                        {% endif %}
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for row in rows_c %}
                                    <tr>
                                        <td><a href="{% url 'taxiapp:complaint_view' pk=row.complaint_number %}">{{row.complaint_number}}</a></td>
                                        <td>{{row.vehicle.traffic_number}}</td>
                                        <td>{{row.vehicle.number_plate}}</td>
                                        <td>{{row.city.city}}</td>
                                        <td>{{row.vehicle.owner.owner_name}}</td>
                                        <td>{{row.created_time}}</td>
                                        <td>{{row.reason.reason}}</td>
                                        {% if row.assigned_to.user_number %}
                                        <td>Id: {{row.assigned_to.user_number}} | SMS: {{row.assigned_to.sms_number}}</td>
                                        {% else %}
                                        <td>Id: Admin | SMS: {{row.assigned_to.sms_number}}</td>
                                        {% endif %}
                                        <td>{{row.phone_number}}</td>
                                        {% if row.resolved == False %}
                                            {% if user.is_admin or user.is_staff %}                                        
                                                <td><a href="{% url 'taxiapp:complaint_view' pk=row.complaint_number %}"><button>Resolve</button></a></td>
                                            {%else%}
                                                <td>{{'Not Resolved'}}</td>
                                            {% endif %} 
                                        {% else %}
                                        <td>{{'Resolved'}}</td>
                                        {% endif %} 
                                        {% if user.is_admin or user.is_staff %}
                                        <td>
                                            <a href="javascript:deleteComplaint('{{row.id}}')"><button>Delete</button></a>
                                        </td>
                                    {% endif %}                                      
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                        </div>
                        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"/></script>
                        <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"/></script>
                        <script>
                        $(document).ready(function() {
                            $('#example').DataTable();
                        } );
                        
                        function submitForm() {
                            $('#resolved_type').val($('#resolvedType').val())
                            document.getElementById("complaintsList").submit();
                        }
                        function deleteComplaint(complaintId) {
                            var r = confirm("Are you sure you want to delete!");
                            if (r == true) {
                                document.getElementById("complaintId").value = complaintId;
                                document.getElementById("delComplaint").submit();
                            } else {
                                
                            }
                        }
                        </script>

                        <form action='/delete_complaint/' method='POST' id='delComplaint' name ='delComplaint'>
                            {% csrf_token %}
                            <input type='hidden' id='complaintId' name='complaintId' value=''>
                        </form>
          
        </div>



       
    </body>





{% endblock %}
