{% extends "taxiapp/base.html" %}
{% block main %}

<h1 class="text-center login-title"> Welcome to T-Project </h1>


{% if user.is_authenticated %}
    {% if user.is_admin %}
    <h1> You are logged in as Super admin </h1>
    <a href="/admin" class="btn btn-info" role="button">Access Admin Console</a>
    <a href="/admin/logout" class="btn btn-info text-center" role="button">Logout</a>
    {% else %}
<div style="text-align: center;" class="button-box col-lg-12">
            <a href="/taxi_list" class="btn btn-info" role="button">Taxi List</a>
            <a href="/complaint_list" class="btn btn-info" role="button">Complaint List</a>
            <a href="/admin_logout" class="btn btn-info" role="button">Log Out</a>

</div>
    {% endif %}
{% else %}
<div style="text-align: center;" class="button-box col-lg-12">
            <a href="/admin_login" class="btn btn-info" role="button">Admin Login</a>
</div>
{% endif %}


{% endblock %}