{% extends "taxiapp/base.html" %}
{% block main %}
<style type="text/css">
    .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

/* Profile container */
.profile {
  margin: 20px 0;
}
/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  max-height: 100px;
  max-width: 100px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}
.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}
.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}
.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}
.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}
.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}
.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}
.profile-usermenu ul li:last-child {
  border-bottom: none;
}
.profile-usermenu ul li p {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}
.profile-usermenu ul li p i {
  margin-right: 8px;
  font-size: 14px;
}
.profile-usermenu ul li p:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}
.profile-usermenu ul li.active {
  border-bottom: none;
}
.profile-usermenu ul li.active p {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.qr-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  max-height: 100px;
  max-width: 100px;
}
td.address /* Give whatever class name you want */
{
width:60%; /* Give whatever width you want */
word-wrap:break-word;
}
</style>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info" style="margin-right:-60px;">
            <div class="panel-heading">
              <h3 class="panel-title" style="text-align: center;">{{ owner.owner_name }} ({{vehicle.number_plate}})</h3>
            </div>
            <div class="panel-body">
                {% if not user.is_authenticated %}
                <div class="row">
                <div class="profile-userbuttons center-block">
                    <button type="button" onclick="sendSOS()" class="btn btn-danger btn-sm" style="margin:0.5em;">Emergency text</button>
                    {% if vehicle.city.distress %}
                    <a class="btn btn-warning btn-xlg" href="tel:+91-{{ vehicle.city.distress_contact }}" style="margin:0.5em;">
                        <span class="glyphicon glyphicon-earphone" style="padding-right:10px;"></span>Emergency Call
                    </a>
                    {% endif %}
                   
                    
                </div>
                <div class="row">
                 <div class="profile-userbuttons center-block">  
                  <button type="button" class="btn btn-success btn-sm" onclick="sendComplaint()" style="margin:0.5em;">Complaint</button>
                    <button type="button" class="btn btn-success btn-sm" onclick="rating()" style="margin:0.5em;">Rating</button>
                </div>
              </div>
                </div>
                {% endif %}
                <div class ="row">
                    {% if vehicle.qr_code %}
                    <div class="col-md-6" style="margin-top: 25px;">
      
                      <div class="qr-userpic">
                          <img src="{{ vehicle.qr_code.url }}" class="img-responsive" alt="">
                      </div>
                      </div>
                       {% endif %}
                       <div class="col-md-6" style="margin-top: 25px;">
                          <h2 class="panel-title" style="text-align: center;"> Vehicle </h2>
                          <div class="center-block" style="margin: 1em;"> 
                              <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Number Plate</td>
                                    <td>{{ vehicle.number_plate }}</td>                                    
                                  </tr>
                                  <tr>
                                    <td>Traffic Number</td>
                                    <td>{{ vehicle.traffic_number }}</td>
                                  </tr>
                                  
                                {% if user.is_authenticated %}
                                <tr>
                                    <td>S/O</td>
                                    <td>{{ owner.son_of }}</td>
                                  </tr>
                                  <tr>
                                    <td>Date of Birth</td>
                                    <td>{{ owner.date_of_birth }} </td>
                                  </tr>    
                                    <tr>
                                    <td>Home Address</td>
                                    <td class="address">{{ owner.address }} </td>
                                  </tr>
                                                {% endif %}
            
                                {% if user.is_authenticated %}
                                  <tr>
                                    <td>Aadhar number</td>
                                    <td>{{ owner.aadhar_number }}</td>
                                  </tr>
                                  <tr>
                                    <td>Driving License</td>
                                    <td>{{ vehicle.rc_number }}</td>
                                  </tr>
                                  <tr>
                                    <td>Valid Upto</td>
                                    <td>{{ vehicle.rc_expiry }}</td>
                                  </tr>
                                  <tr>
                                    <td>Stand</td>
                                    <td>{{ vehicle.autostand }}</td>
                                  </tr>
                                  <tr>
                                    <td>Union</td>
                                    <td>{{ vehicle.union }}</td>
                                  </tr>
                                  <tr>
                                    <td>Insurance Valid Upto</td>
                                    <td>{{ vehicle.insurance }}</td>
                                  </tr>
                                  <tr>
                                    <td>Capacity of Passengers</td>
                                    <td>{{ vehicle.capacity_of_passengers }}</td>
                                  </tr>
                                  <tr>
                                    <td>Polution Valid Upto</td>
                                    <td>{{ vehicle.pollution }}</td>
                                  </tr>
                                  <tr>
                                    <td>Engine number</td>
                                    <td>{{ vehicle.engine_number }}</td>
                                  </tr>
                                  <tr>
                                    <td>Chasis number</td>
                                    <td>{{ vehicle.chasis_number }}</td>
                                  </tr>
                                  <tr>
                                    <td>Owner/Driver</td>
                                    <td>{{ vehicle.is_owner_driver }}</td>
                                  </tr>
                                  {% endif %}
                                 
                                </tbody>
                              </table>
                            </div>
                       </div>
                       
                </div>

{% if not user.is_authenticated %}
<center>
<div>
<form class="form-inline" id="passenger" action="/complaint/" method="get">
    <input id="id" type="text" name="id" value="{{vehicle.id }}" style="display:none;">
    <input id="passenger_phone" class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="passenger_phone" placeholder="Your Phone Number" required><br><br>
    <input id="passenger_origin" class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="passenger_origin" placeholder="Origin of the trip">&nbsp;&nbsp;&nbsp;&nbsp;
    <input id="passenger_destination" class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="passenger_destination" placeholder="Destination of the trip">
    <!-- For Rating -->
    <input id="number_plate" type="text" name="number_plate" value="{{ vehicle.number_plate }}" style="display:none;">
    <input id="rating_type" type="text" name="rating_type" value="0" style="display:none;">
</form>
</div>
</center>
{% endif %}
                {%if owner%}
                <!--code for OWNER Starts-->
                <div>&nbsp;</div>
                <div class ="row">
                  
                    <div class="col-md-6">
                        <div class="profile-userpic">
                           <img src="{{ owner.owner_image.url }}" class="img-responsive" alt=""> 
                        </div>
                       </div>
                       <div class="col-md-6" style="margin-top: 25px;">
                          <h2 class="panel-title" style="text-align: center;"> Owner </h2>
                          <div class="center-block" style="margin: 1em;"> 
                              <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ owner.owner_name}}</td>
                                  </tr>
                                {% if user.is_authenticated %}
                                <tr>
                                    <td>S/O</td>
                                    <td>{{ owner.son_of }}</td>
                                  </tr>
                                  <tr>
                                    <td>Date of Birth</td>
                                    <td>{{ owner.date_of_birth }} </td>
                                  </tr>    
                                    <tr>
                                    <td>Home Address</td>
                                    <td class="address">{{ owner.address }} </td>
                                  </tr>
                                                {% endif %}
            
                                    <td>Phone Number</td>
                                    <td> <a class="btn btn-primary btn-xlg" href="tel:+91-{{ owner.phone_number }}" >
                     <span class="glyphicon glyphicon-earphone" style="padding-right:10px;"></span>{{ owner.phone_number }}
                      </a></td>       
                                    </tr>
            
                                {% if user.is_authenticated %}
                                  <tr>
                                    <td>Aadhar number</td>
                                    <td>{{ owner.aadhar_number }}</td>
                                  </tr>
                                  <!-- <tr>
                                    <td>Driving License</td>
                                    <td>{{ owner.driving_license_number }}</td>
                                  </tr> -->
                                  
                                  {% endif %}
                                 
                                </tbody>
                              </table>
                            </div>
                       </div>
                       
                </div>
                {%endif%}
                <!--code for Driver Starts -->
                {%if drivers|length > 0 %}
                <div>&nbsp;</div>
                {% for driver in drivers %}
                <div class ="row">
                    
                    <div class="col-md-6">
                        <div class="profile-userpic">
                           <img src="{{ driver.driver_image.url }}" class="img-responsive" alt="">
                       </div>                     
                </div>
                      
                       <div class="col-md-6" style="margin-top: 25px;">
                          <h2 class="panel-title" style="text-align: center;"> Driver </h2>
                          <div class="center-block" style="margin: 1em;"> 
                              <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ driver.driver_name}}</td>
                                  </tr>                                
                                {% if user.is_authenticated %}
                                <tr>
                                    <td>S/O</td>
                                    <td>{{ driver.son_of }}</td>
                                  </tr>
                                  <tr>
                                    <td>Date of Birth</td>
                                    <td>{{ driver.date_of_birth }} </td>
                                  </tr>    
                                    <tr>
                                    <td>Home Address</td>
                                    <td class="address">{{ driver.address }} </td>
                                  </tr>
                                                {% endif %}
            
                                    <td>Phone Number</td>
                                    <td> <a class="btn btn-primary btn-xlg" href="tel:+91-{{ driver.phone_number }}" >
                     <span class="glyphicon glyphicon-earphone" style="padding-right:10px;"></span>{{ driver.phone_number }}
                      </a></td>       
                                    </tr>
            
                                {% if user.is_authenticated %}
                                  <tr>
                                    <td>Aadhar number</td>
                                    <td>{{ driver.aadhar_number }}</td>
                                  </tr>
                                  <tr>
                                    <td>Driving License</td>
                                    <td>{{ driver.dl_number }}</td>
                                  </tr>
                                  
                                  {% endif %}
                                 
                                </tbody>
                              </table>
                            </div>
                       </div>
                </div>
                {% endfor %}

                {%endif%}

              </div>
        </div>
        </div>   
<div style=" display: none;">
<form id="emer" action="/taxi_emergency/" method="post">
    {% csrf_token %}
    <input id="id" type="text" name="id" value="{{vehicle.id }}">
    <input id="point" type="text" name="point" value="">
    <input id="passenger_phone_sos" type="text" name="passenger_phone_sos" placeholder="Your Phone Number" required>
    <input id="passenger_origin_sos" type="text" name="passenger_origin_sos" placeholder="Origin of the trip">
    <input id="passenger_destination_sos" type="text" name="passenger_destination_sos" placeholder="Destination of the trip">
    <input type="submit" value="submit">
</form>
</div>
<script type="text/javascript">
    function sendSOS() {
    var x = document.getElementById("passenger_phone").value;
	if (x.length < 10) {
            alert("Please fill in your correct Phone Number");
            return false;
        }

  if(confirm("An Emergency SOS will be sent to the nearest police station with your location details. Do you want to continue?"))
  {
  if (!navigator.geolocation){
    //output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
    var url = "http://"+"{{request.get_host}}";
    var id = "{{vehicle.traffic_number}}";
    window.open(url+'/complaint/'+id,"_self")
    return;
  }
  function success(position) {
	var latitude  = position.coords.latitude;
    	var longitude = position.coords.longitude;
	document.getElementById("point").value = latitude+','+longitude;
        document.getElementById("passenger_phone_sos").value = document.getElementById("passenger_phone").value;
        document.getElementById("passenger_origin_sos").value = document.getElementById("passenger_origin").value;
        document.getElementById("passenger_destination_sos").value = document.getElementById("passenger_destination").value;
        var x = document.getElementById("passenger_phone").value;
        if (x.length < 10) {
            alert("Please fill in your correct Phone Number");
            return false;
        }
        else{document.forms.emer.submit();}
	}
  function error() {
    var url = "http://"+"{{request.get_host}}";
    var id = "{{vehicle.traffic_number}}";
    window.open(url+'/complaint/'+id,"_self")
    //output.innerHTML = "Unable to retrieve your location";
  }

 // output.innerHTML = "<p>Locating…</p>";

  navigator.geolocation.getCurrentPosition(success, error);
}
  else{return false;}
}
function sendComplaint() {
    var x = document.getElementById("passenger_phone").value;
    if (1!=1/*x.length < 10*/) {
        alert("Please fill in your correct Phone Number");
        return false;
    }
    else{document.forms.passenger.submit();}
}


function rating() {
  var x = document.getElementById("passenger_phone").value;
  document.getElementById("passenger").action = "/ratings/";
  if (x.length < 10) {
        alert("Please fill in your correct Phone Number");
        return false;
    }
    else{
      document.forms.passenger.submit(); 
    }
}


</script>
{% endblock %}










