{% extends "taxiapp/base.html" %}
{% block main %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"/>

<title>Taxi App</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>

    
    <div class="container">
        <div class="row">
            <form class="form-inline" name="vehicleList" id="vehicleList" action='/vehicle_list/' method='POST'>
                {% csrf_token %}
                    <div class="form-group mb-2">City:
                      
                            <select class="form-control" name="city_code" id="city_code">
                                    {% if user.is_admin or user.is_staff %}
                                        <option value="All">All</option>
                                    {% endif %}
                                    {% for city in cities %}
                                    <option value="{{city.city_code}}" {% if city.city_code == city_code %}selected="selected"{% endif %}>{{ city.city }}</option>
                                    {% endfor %}
                            </select>

                    </div>

                     <div class="form-group mb-2">Vehicle Type:
                      
                            <select class="form-control" name="vehicletype" id="vehicletype">
                                    <option value="All">All</option>
                                    {% for vcltype in vehicletypes %}
                                    <option value="{{vcltype}}" {% if vcltype == vehicletype %}selected="selected"{% endif %}>{{ vcltype }}</option>
                                    {% endfor %}
                            </select>


                    </div>
                   
                    <div class="form-group mb-2">
                            Range From :
                            <input style="width:80px;" class="form-control" type="text" name="rangeFrom" id="rangeFrom" value="{{rangeFrom}}" />
                    </div>

                    <div class="form-group mb-2">
                            Range To :
                            <input style="width:80px;" class="form-control" type="text" name="rangeTo" id="rangeTo" value="{{rangeTo}}" />
                    </div>

                    <div class="form-group mb-2">
                            Traffic Number :
                            <input style="width:80px;" class="form-control" type="text" name="taxiIds" id="taxiIds" value="{{taxiIds}}" />
                    </div>

                    <div class="form-group mb-2">
                            Number Plate :
                            <input style="width:80px;" class="form-control" type="text" name="numberPlates" id="numberPlates" value="{{numberPlates}}" />
                    </div> 

                    <input type="hidden" name ="page" id="page"/>
                    <!-- <input type="hidden" name="activeTab" id="activeTab" value="{{activeTab}}"/> -->
                    <button type="button" onclick="submitForm()" class="btn btn-primary mb-2">Search</button>

            </form>
      </div>
    </div>
    <br>
    <br>
     <h4 style="text-align: center; color: green;">{{message}}</h4>
    <!-- <div class="container">
      <ul class="nav nav-tabs">
        <li {% if activeTab == 'dashboard' %}class="active"{% endif %}><a data-toggle="tab" href="#dashboard">Dashboard</a></li>
        <li {% if activeTab == 'vehicles' %}class="active"{% endif %}><a data-toggle="tab" href="#vehicles">Vehicles</a></li>
        <li {% if activeTab == 'drivers' %}class="active"{% endif %}><a data-toggle="tab" href="#drivers">Drivers</a></li>
        <li {% if activeTab == 'complaints' %}class="active"{% endif %}><a data-toggle="tab" href="#complaints">Complaints</a></li>
        <li {% if activeTab == 'customerRatings' %}class="active"{% endif %}><a data-toggle="tab" href="#customerRatings">Customer Ratings</a></li>
        <li {% if activeTab == 'vehicleRegistrations' %}class="active"{% endif %}><a data-toggle="tab" href="#vehicleRegistrations">Vehicle Registration</a></li>        
      </ul> -->
    
      <!-- <div class="tab-content">
        {% if activeTab == 'dashboard' %}
            <div id="dashboard" class="tab-pane fade in active">
        {% else %}
            <div id="dashboard" class="tab-pane fade">
        {% endif %}
                <div style="padding-bottom: 55px;">
                         <center><h3>Dashboard</h3></center>
                         <table id="taxi-list" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                 <thead>
                                     <tr>
                                         <th>City </th>
                                         <th>Today </th>
                                         <th>This Week</th>
                                         <th>This Month</th>
                                         <th>This Year</th>
                                         <th>Total</th>
                                         
                                     </tr>
                                 </thead>
                                 <tbody>
                     
                                     
                                     <tr>
                                         <td>{{city_code}}</td>
                                         <td>{{dashboardDict.todayVR}}</td>
                                         <td>{{dashboardDict.thisWeekVR}}</td>
                                         <td>{{dashboardDict.thisMonthVR}}</td>
                                         <td>{{dashboardDict.thisYearVR}}</td>
                                         <td>{{dashboardDict.total}}</td>
                                         
                                     </tr>
                                     
                                 </tbody>
                         </table>
                         
                         </div>
         
        </div>
        {% if activeTab == 'vehicles' %}
            <div id="vehicles" class="tab-pane fade in active">
                <h4 style="text-align: center; color: green;">{{message}}</h4>
        {% else %}
            <div id="vehicles" class="tab-pane fade">
        {% endif %} -->
                {% if user.is_admin or user.is_staff %}
                    <div style="float: right;">
                        <!-- <a href="/download_vehicle/" >
                            <button class="btn btn-primary btn-sm">Download</button>
                        </a> -->
                        <a href="javascript:exportToCSV()" >
                            <button class="btn btn-primary btn-sm">Export To Csv</button>
                        </a>
                        <a href="/add_vehicle" >
                            <button class="btn btn-primary btn-sm">Add Vehicle</button>
                        </a>
                        <a href="/add_driver" >
                            <button class="btn btn-primary btn-sm">Add Driver</button>
                        </a>
                    </div>
                {% endif %}
                <div style="padding-bottom: 55px;">
                        <center><h3>Vehicle List</h3></center>
                        <table id="vehicle-list" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        
                                        <th>Traffic Number</th>
                                        <th>Vehicle Number</th>
                                        <th>City</th>
                                        <th>Name</th>
                                        <th>Created Time</th>
                                        <th>Phone Number</th>       
                                        <th>Average Rating</th>
                                        <th>Number of Complaints</th>
                                        {% if user.is_admin or user.is_staff %}
                                            <th>Action</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Traffic Number</th>
                                        <th>Vehicle Number</th>
                                        <th>City</th>
                                        <th>Name</th>
                                        <th>Created Time</th>
                                        <th>Phone Number</th>       
                                        <th>Average Rating</th>
                                        <th>Number of Complaints</th>
                                        {% if user.is_admin or user.is_staff %}
                                            <th>Action</th>
                                        {% endif %}
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for row in rows %}
                                    <tr>
                                        <td><a href="{% url 'taxiapp:taxi_detail' pk=row.traffic_number %}">{{row.traffic_number}}</a></td>
                                        <td>{{row.number_plate}}</td>
                                        <td>{{row.city.city}}</td>
                                        <td>{{row.owner.owner_name}}</td>
                                        <td>{{row.created_time}}</td>
                                        <td>{{row.owner.phone_number}}</td>
                                        <td></td>
                                        <td>{{row.num_of_complaints}}</td>
                                        {% if user.is_admin or user.is_staff %}
                                            <td>
                                                <a href="javascript:addVehicle('{{row.id}}')"><button>Edit</button></a> &nbsp;
                                                <a href="javascript:deleteVehicle('{{row.id}}')"><button>Delete</button></a>
                                                <a href="javascript:download_qrcode('{{row.id}}')"><button>Download Qrcode</button></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                        
                        <ul class="pagination" style="float: right;">
                        
                            {% if rows.has_previous %}
                                <!-- <li><a href="?page={{ rows.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li> -->
                                <li><a href="javascript:getPaginationData({{ rows.previous_page_number }})"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                            {% else %}
                                <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                            {% endif %}
                            
                            {% if rows.number|add:'-4' > 1 %}
                                <!-- <li><a href="?page={{ rows.number|add:'-5' }}">&hellip;</a></li> -->
                                <li><a href="javascript:getPaginationData({{ rows.number|add:'-5' }})">&hellip;</a></li>
                            {% endif %}
                            
                            {% for i in rows.paginator.page_range %}
                                {% if rows.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% elif i > rows.number|add:'-5' and i < rows.number|add:'5' %}
                                    <li><a href="javascript:getPaginationData({{ i }})">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            {% if rows.paginator.num_pages > rows.number|add:'4' %}
                                <li><a href="javascript:getPaginationData({{ rows.number|add:'5' }})">&hellip;</a></li>
                            {% endif %}
                            
                            {% if rows.has_next %}
                                <li><a href="javascript:getPaginationData({{ rows.next_page_number }})"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% else %}
                                <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                            {% endif %}
                            
                            </ul>
                        </div>
                        
                        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"/></script>
                        <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"/></script>
                        <script>
                        // $(document).ready(function() {
                        //     $('#taxi-list').DataTable();
                        // } );
                        function submitForm() {
                            document.getElementById("vehicleList").action = '/vehicle_list/';
                            document.getElementById("vehicleList").submit();
                            
                        }
                        function getPaginationData(page) {
                            document.getElementById("page").value = page;
                            // document.getElementById("activeTab").value = 'vehicles';
                            document.getElementById("vehicleList").submit();
                        }

                        function exportToCSV() {
                            document.getElementById("vehicleList").action = '/vehicle_export_To_csv/';
                            document.getElementById("vehicleList").submit();
                        }
                        function addVehicle(vehicleId) {
                            document.getElementById("vehicleId").value = vehicleId;
                            document.getElementById("addVehicle").submit();
                        }
                        function deleteVehicle(vehicleId) {
                            var r = confirm("Are you sure you want to delete!");
                            if (r == true) {
                                document.getElementById("vehicleId").value = vehicleId;
                                document.getElementById("addVehicle").action = '/delete_vehicle/';
                                document.getElementById("addVehicle").submit();
                            } else {
                                
                            }                           
                        }
                        function download_qrcode(vehicleId) {
                            document.getElementById("vehicleId").value = vehicleId;
                            document.getElementById("addVehicle").action = '/download_vehicle_qrcode/';
                            document.getElementById("addVehicle").submit();
                            
                        }
                        </script>

            <form action='/add_vehicle/' method='POST' id='addVehicle' name ='addVehicle'>
                {% csrf_token %}
                <input type='hidden' id='vehicleId' name='vehicleId' value=''>
            </form>
          
        </div>
       
                

   
    </body>





{% endblock %}
